<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <div class="box">
            <button type="button" class="btn btn-sm btn-dark" class="nuevaEducacion" target="blank" *ngIf="isLogged"
                (click)="open(content)">
                <i class="fa-solid fa-plus"></i></button>
            <h2 class="mb-5">Educación</h2>
        </div>
        <div class="eduC" *ngFor="let Educacion of edu">
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">{{Educacion.nombreEd}}</h3>
                    <div class="subheading mb-3">{{Educacion.descripcionEd}}</div>
                </div>
                <div class="buttons" style="text-align: top" *ngIf="isLogged">
                    <button class="btn btn-sm btn-dark" type="button" (click)="openEdit(contentEdit, Educacion)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button  style="margin-left: 5px;" class="delete" class="btn btn-sm btn-danger" type="button" (click)="onDelete(Educacion.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">{{Educacion.startEd}} - {{Educacion.endEd}}</span>
                </div>
            </div>
        </div>
    </div>

    <!--Formulario para crear Educacion-->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Agregar educación</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            </button>
        </div>
        <div class="modal-body">
            <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
                <div class="form-group col-md-6">
                    <label for="nombreEd">Título:</label>
                    <div class="input-group">
                        <input id="nombreEd" name="nombreEd" class="form-control" [(ngModel)]="nombreEd" required>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="startEd">Fecha de inicio:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="height: 38px;" id="basic-addon2"><i class="fa-regular fa-calendar"></i></span>
                          </div>
                        <input id="startEd" name="startEd" class="form-control" [(ngModel)]="startEd" required>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="endEd">Fecha de finalización:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="height: 38px;" id="basic-addon2"><i class="fa-regular fa-calendar"></i></span>
                          </div>
                        <input id="endEd" name="endEd" class="form-control" [(ngModel)]="endEd" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcionEd">Descripción:</label>
                    <div class="input-group">
                        <textarea id="descripcionEd" name="descripcionEd" class="form-control" rows="3"
                            [(ngModel)]="descripcionEd" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-outline-dark" type="submit"
                        (click)="modal.close('Save click')">Guardar</button>
                    <button type="button" class="btn btn-outline-dark"
                        (click)="modal.close('Cancel click')">Cancelar</button>
                </div>
            </form>
        </div>
    </ng-template>

    <!--Formulario para editar Educacion-->
    <ng-template #contentEdit let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Editar educacion</h4>
            <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss('Cross click')">
            </button>
        </div>
        <div class="modal-body" style="align-items: center;">
            <form [formGroup]="editForm" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group col-md-6">
                    <label for="nombreEd">Título:</label>
                    <div class="input-group">
                        <input formControlName="nombreEd" class="form-control">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="startEd">Fecha de inicio:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="height: 38px;" id="basic-addon2"><i class="fa-regular fa-calendar"></i></span>
                          </div>
                        <input formControlName="startEd" class="form-control">
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="endEd">Fecha de finalización:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="height: 38px;" id="basic-addon2"><i class="fa-regular fa-calendar"></i></span>
                          </div>
                        <input formControlName="endEd" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcionEd">Descripción:</label>
                    <div class="input-group">
                        <textarea formControlName="descripcionEd" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer"><button data-dismiss="modal" class="btn btn-outline-dark"
                        type="submit">Guardar
                        cambios</button>
                </div>
            </form>
        </div>
    </ng-template>

</section>
<hr class="m-0" />